absl-py==2.1.0
accelerate==1.1.1
aiofiles==23.2.1
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aioitertools==0.12.0
aiosignal==1.3.1
aiosqlite==0.20.0
alabaster==0.7.16
albumentations==1.3.1
alembic==1.13.3
altair==5.4.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.6.0
appdirs==1.4.4
arabic-reshaper==3.0.0
arize-phoenix==4.36.0
arize-phoenix-evals==0.16.0
arize-phoenix-otel==0.5.1
array-record==0.4.1
arrow==1.3.0
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.2.0
babel==2.16.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
boto3==1.35.0
botocore==1.35.68
build==1.2.1
cachetools==5.5.0
category-encoders==2.6.4
caugetch==0.0.1
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.5.7
click==8.1.7
clipboard==0.0.4
cloudpickle==3.1.0
cmdstanpy==1.2.4
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.2.1
coverage==5.3.1
cryptography==43.0.0
cssselect2==0.7.0
cvzone==1.6.1
cycler==0.12.1
Cython==3.0.11
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
data-gradients==0.3.2
dataclasses-json==0.6.7
datasets==3.0.0
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
diff-match-patch==20230430
dill==0.3.8
distro==1.9.0
dm-tree==0.1.8
docutils==0.17.1
durationpy==0.7
efficientnet_pytorch==0.7.1
einops==0.3.2
et_xmlfile==2.0.0
etils==1.5.2
exceptiongroup==1.2.2
executing==2.0.1
faiss-cpu==1.8.0.post1
Faker==25.9.2
fastapi==0.115.0
fastjsonschema==2.20.0
ffmpy==0.4.0
filelock==3.15.4
filetype==1.2.0
firecrawl-py==0.0.20
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.53.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.6.1
future==1.0.0
gast==0.4.0
getpass4==0.0.14.1
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.35.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
gradio==4.44.1
gradio_client==1.3.0
graphql-core==3.2.4
greenlet==3.1.1
griffe==0.36.9
grpcio==1.65.5
guardrails-ai==0.6.0
guardrails-api-client==0.4.0a1
guardrails_hub_types==0.0.4
h11==0.14.0
h5py==3.12.1
hdbscan==0.8.38.post1
html5lib==1.1
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
huggingface-hub==0.24.6
humanfriendly==10.0
hydra-core==1.3.2
idna==3.7
imagededup==0.3.2
imageio==2.35.1
imageio-ffmpeg==0.5.1
imagesize==1.4.1
imbalanced-learn==0.12.4
importlib_metadata==8.2.0
importlib_resources==6.4.2
imutils==0.5.4
ipykernel==6.29.5
ipython==8.18.1
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.5.0
jmespath==1.0.1
joblib==1.3.2
json-tricks==3.16.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kaleido==0.2.1
keras==3.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
kubernetes==31.0.0
langchain==0.3.0
langchain-chroma==0.1.4
langchain-community==0.3.0
langchain-core==0.3.21
langchain-experimental==0.3.3
langchain-openai==0.2.0
langchain-text-splitters==0.3.0
langchain-upstage==0.3.0
langchainhub==0.1.21
langsmith==0.1.126
lazy_loader==0.4
Levenshtein==0.26.1
libclang==18.1.1
lightgbm==4.5.0
litellm==1.48.0
llvmlite==0.43.0
lxml==4.9.4
mabalgs==0.6.8
Mako==1.3.5
Markdown==3.7
markdown-it-py==3.0.0
marko==2.1.2
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.4.1
mmh3==5.0.1
monotonic==1.6
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.14.1
natsort==8.4.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.8.1
numba==0.60.0
numpy==1.26.4
oauthlib==3.2.2
omegaconf==2.3.0
onn==0.2.1
onnx==1.15.0
onnxruntime==1.15.0
onnxsim==0.4.36
openai==1.47.1
opencv-python==4.6.0.66
opencv-python-headless==4.10.0.84
openinference-instrumentation==0.1.18
openinference-instrumentation-langchain==0.1.28
openinference-instrumentation-llama-index==3.0.2
openinference-instrumentation-openai==0.1.14
openinference-semantic-conventions==0.1.10
openpyxl==3.1.5
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-exporter-otlp-proto-http==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt_einsum==3.4.0
optree==0.13.1
orjson==3.10.7
oscrypto==1.3.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==2.1.4
parso==0.8.4
patsy==0.5.6
pillow==10.4.0
pip-tools==7.4.1
platformdirs==4.2.2
plotly==5.24.1
plotly-resampler==0.10.0
pmdarima==2.0.4
posthog==3.6.6
promise==2.3
prompt_toolkit==3.0.47
protobuf==3.20.3
psutil==6.0.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycaret==3.3.2
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
pydash==7.0.7
pydeck==0.9.1
pyDeprecate==0.3.2
pydicom==2.4.4
pydub==0.25.1
Pygments==2.18.0
pyHanko==0.25.1
pyhanko-certvalidator==0.26.3
PyJWT==2.9.0
pynndescent==0.5.13
pyod==2.0.2
pyparsing==3.1.2
pypdf==4.3.1
pyperclip==1.9.0
PyPika==0.48.9
pypng==0.20220715.0
pyproject_hooks==1.1.0
pyreadline3==3.4.1
pysbd==0.3.4
PySocks==1.7.1
pyspng==0.1.2
python-bidi==0.6.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.10
pytube==15.0.0
pytz==2024.1
PyWavelets==1.6.0
pywin32==306
PyYAML==6.0.2
pyzmq==26.2.0
qrcode==7.4.2
qudida==0.0.4
ragas==0.2.6
rapidfuzz==3.9.6
referencing==0.35.1
regex==2023.12.25
reportlab==3.6.13
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3987==1.3.8
rich==13.7.1
roboflow==1.1.40
rpds-py==0.20.0
rsa==4.9
rstr==3.2.2
ruff==0.6.7
s3transfer==0.10.2
safetensors==0.4.5
schemdraw==0.15
scikit-base==0.7.8
scikit-image==0.24.0
scikit-learn==1.4.2
scikit-plot==0.3.7
scipy==1.11.4
seaborn==0.13.2
selenium==4.26.1
semantic-version==2.10.0
semver==3.0.2
sentence-transformers==3.1.1
sentencepiece==0.2.0
shellingham==1.5.4
SimpleITK==2.4.0
six==1.16.0
sktime==0.26.0
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.6
Sphinx==4.0.3
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.35
sqlean.py==3.45.1
stack-data==0.6.3
stanio==0.5.1
starlette==0.38.6
statsmodels==0.14.4
strawberry-graphql==0.236.0
streamlit==1.40.1
stringcase==1.2.0
super-gradients==3.7.1
supervision==0.22.0
svglib==1.5.1
sympy==1.13.1
tavily-python==0.5.0
tbats==1.1.3
tenacity==8.5.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow-datasets==4.9.3
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.16.1
tensorflow_intel==2.18.0
termcolor==1.1.0
tf_keras==2.18.0
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tifffile==2024.8.10
tiktoken==0.7.0
tinycss2==1.3.0
tokenizers==0.20.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
torch==2.5.1
torchinfo==1.8.0
torchmetrics==0.8.0
torchvision==0.20.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.46.3
treelib==1.6.1
trio==0.27.0
trio-websocket==0.11.1
tsdownsample==0.1.3
ttach==0.0.3
typer==0.12.5
types-python-dateutil==2.9.0.20240906
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
ultralytics @ file:///C:/Users/dpwl1/Desktop/Fall-Detection/YOLOv10-Custom-Object-Detection-main/yolov10
ultralytics-thop==2.0.0
umap-learn==0.5.6
uri-template==1.3.0
uritools==4.0.3
urllib3==1.26.20
uvicorn==0.30.6
watchdog==6.0.0
watchfiles==0.24.0
wcwidth==0.2.13
webcolors==24.8.0
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
widgetsnbextension==4.0.13
wrapt==1.16.0
wsproto==1.2.0
xgboost==2.1.2
xhtml2pdf==0.2.11
xxhash==3.5.0
yarl==1.12.1
yellowbrick==1.5
zipp==3.20.0
